* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.navbar-brand img
{
  width: 40px;
  height:auto;
}

header {
  position: relative;
  background: url("../img/banner2-1.jpg") no-repeat;
  background-size: cover;
  height: 400px;
}
.header{
  position: absolute;
  background: rgba(255,255,255, .5);
  box-shadow: 0 0 15px rgba(214, 214, 214, 0.7);
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

/*
* custom home page
*/
.article-home{
  margin-top: 40px;
  box-shadow: 0 0 12px rgba(214, 214, 214, 0.7);
  padding: 8px;
  border-radius: 5px;
}
.article-home .art-title{
  text-align: center;
  padding-top: 8px;
}
.article-home p{
  text-align: justify;
}
.article-home .art-footer{
  text-align: right;
  padding-right: 10px;
}

/*
* custom nurse page
*/

.subtitle
{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 60px;
  padding-top: 20px;
}
.art_picture_right, .art_picture_left
{
  margin-bottom: 25px;
}
.art_content
{
  text-align: justify;
  margin-bottom: 20px;
}


@media only screen and (min-width: 690px) {
  .header{
    width: 50%;
    right: 100px;
    max-width: 615px;
  }
  .article-home{
    display: flex;
    margin-top: 120px;
    box-shadow: none;
  }
  .article-home.left .art-content{
    padding-left: 60px;
  }
  .article-home .art-content{
    padding-right: 10px;
    width: 100%;
  }
  .article-home .art-title{
    text-align: left;
  }
  .article-home .art-img{
    flex: none;
    width: 500px;
    position: relative;
  }
  .article-home .art-img img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    box-shadow: 0 0 18px rgba(40, 167, 69, .5);
    z-index: 1;
  }
  .article-home .art-img::after{
    content: "";
    border: 3px solid rgba(40, 167, 69, .7);
    width: 100%;
    height: 100%;
    display: block;
  }
  .article-home.left .art-img::after{
    transform: translate(35px, 60px);
  }
  .article-home.right .art-img::after{
    transform: translate(-35px, 60px);
  }
  .article-home.right{
    flex-direction: row-reverse;
  }
  .article-home.right .art-img{
    padding-left: 50px;
  }

  .art_container_one
  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 20px;
  }
  .art_picture_right
  {
    width:45%;
    height: auto;
    margin: 10px;
    padding-top: 25px;
  }
  .art_content
  {
    width: 50%;
    height: auto;
    margin: 5px;
    padding: 10px;
    font-size: 0.9em;
  }
  .art_container_two
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .art_picture_left
  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 50%;
    margin: 10px;
  }
}


/*
* custom activity page
*/
.color_run_container, .children_theater_container, .cook_container
{
  text-align: center;
}
.color_run_content
{
  text-align: justify;
}

@media only screen and (min-width: 768px) 
{
  .color_run_container, .cook_container
  {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

  }
  .color_run_content_right, .cook_content_right
  {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-left: 10px;
  }

  .color_run_content_right h1, .cook_content_right h1, .children_theater_content_left h1
  {
    text-align: center;
    text-decoration: underline;
  }
  .color_run_moovie
  {
    display: flex;
  }
  .children_theater_container
  {
    margin:70px 0 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .children_theater_content_left
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
  }
  .children_theater_moovie
  {
    display: flex;
  }
}

/*
* custom about us page
*/
.aboutContainer
{
  padding: 0;
  margin-top: 30px;
  box-shadow: 30px -16px #212529;
}
.diplome
{
  text-align: center;
  list-style: none;
  padding-right: 30px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 576px) 
{
  .aboutContainer
  {
    border:3px solid #212529;
    margin-bottom: 15px;
  }
}