* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}


/*
** commentaire
*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.navbar-brand img
{
  width: 40px;
  height:auto;
}

header {
  position: relative;
  background: url("../img/banner2-1.jpg") no-repeat;
  background-size: cover;
  height: 400px;
}
.header{
  position: absolute;
  background: rgba(255,255,255, .5);
  box-shadow: 0 0 15px rgba(214, 214, 214, 0.7);
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

/*
* custom home page
*/
.article-home{
  margin-top: 40px;
  box-shadow: 0 0 12px rgba(214, 214, 214, 0.7);
  padding: 8px;
  border-radius: 5px;
}
.article-home .art-title{
  text-align: center;
  padding-top: 8px;
}
.article-home p{
  text-align: justify;
}
.article-home .art-footer{
  text-align: right;
  padding-right: 10px;
}

/*
* custom nurse page
*/

.subtitle
{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 60px;
  padding-top: 20px;
}
.art_picture_right, .art_picture_left
{
  margin-bottom: 25px;
}
.art_content
{
  text-align: justify;
  margin-bottom: 20px;
}


@media only screen and (min-width: 690px) {
  .header{
    width: 50%;
    right: 100px;
    max-width: 615px;
  }
  .article-home{
    display: flex;
    margin-top: 120px;
    box-shadow: none;
  }
  .article-home.left .art-content{
    padding-left: 60px;
  }
  .article-home .art-content{
    padding-right: 10px;
    width: 100%;
  }
  .article-home .art-title{
    text-align: left;
  }
  .article-home .art-img{
    flex: none;
    width: 500px;
    position: relative;
  }
  .article-home .art-img img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    box-shadow: 0 0 18px rgba(40, 167, 69, .5);
    z-index: 1;
  }
  .article-home .art-img::after{
    content: "";
    border: 3px solid rgba(40, 167, 69, .7);
    width: 100%;
    height: 100%;
    display: block;
  }
  .article-home.left .art-img::after{
    transform: translate(35px, 60px);
  }
  .article-home.right .art-img::after{
    transform: translate(-35px, 60px);
  }
  .article-home.right{
    flex-direction: row-reverse;
  }
  .article-home.right .art-img{
    padding-left: 50px;
  }

  .art_container_one
  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 20px;
  }
  .art_picture_right
  {
    width:45%;
    height: auto;
    margin: 10px;
    padding-top: 25px;
  }
  .art_content
  {
    width: 50%;
    height: auto;
    margin: 5px;
    padding: 10px;
    font-size: 0.9em;
  }
  .art_container_two
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .art_picture_left
  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 50%;
    margin: 10px;
  }
}


/*
* custom activity page
*/
.color_run_container, .children_theater_container, .cook_container
{
  text-align: center;
}
.color_run_content
{
  text-align: justify;
}

@media only screen and (min-width: 768px) 
{
  .color_run_container, .cook_container
  {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

  }
  .color_run_content_right, .cook_content_right
  {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-left: 10px;
  }

  .color_run_content_right h1, .cook_content_right h1, .children_theater_content_left h1
  {
    text-align: center;
    text-decoration: underline;
  }
  .color_run_moovie
  {
    display: flex;
  }
  .children_theater_container
  {
    margin:70px 0 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .children_theater_content_left
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
  }
  .children_theater_moovie
  {
    display: flex;
  }
}

/*
* custom about us page
*/
.aboutContainer
{
  padding: 0;
  margin-top: 30px;
  box-shadow: 30px -16px #212529;
}
.diplome
{
  text-align: center;
  list-style: none;
  padding-right: 30px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 576px) 
{
  .aboutContainer
  {
    border:3px solid #212529;
    margin-bottom: 15px;
  }
}

/*
* custom contact page
*/
h1.contact_h1{
  text-align: center;
}
.contact_form .legend{
  display: inline-block;
  width: auto;
  font-weight: bold;
  padding: 0 30px;
}
fieldset{
  border-width: 2px;
  border-style: groove;
  border-color: rgba(200, 200, 200, .7);
  border-image: initial;
  padding: 25px;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}
.contact_form img{
  width: 30px;
}
.contact_form .items_child{
  margin-bottom: 10px;
}
.contact_form .content_resa{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.contact_form .content_resa input{
  background: url(https://cdn.pixabay.com/photo/2019/02/26/09/19/calender-4021509_960_720.png);
  background-size: 1.3rem;
  background-position-y: center;
  background-position-x: 5px;
  background-repeat: no-repeat;
  padding: .375rem .75rem .375rem 2.25rem;
  border-color: #28a745;
  border-radius: .25rem;
  color: #495057;
  text-align: center;
}
.contact_form .pension_plan{
  margin-top: 25px;
  text-align: left;
}
.contact_form textarea{
  width: 100%;
  padding: .375rem .75rem;
}
.contact_form .content_flex{
  margin-bottom: 25px;
}
.field_option .price{
  background: #666;
  border-radius: .25rem;
  box-shadow: 0 0 40px rgb(200, 200, 200);
}
.field_option .main_price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .495rem 2rem;
}
.field_option .main_price{
  color: #fefefe;
}
.price>.main_price>a>img{
  width: 35px;
}
.contact_footer{
  background: linear-gradient(to top, rgba(255, 255, 255, .5), rgba(214, 214, 214,.3)),
	center top / cover url("../../public/img/contactfooter.jpg");
  background-repeat: no-repeat;
  height: 110px;
  margin-bottom: 100px;
}





}



/* 
* custom login page
*/

.border_log
{
  width: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  position: relative;
  background-image: url(../../public/img/login2.jpg);
  margin-bottom: 20px;
  box-shadow: 3px 3px #000, -1em 0 .4em #000;
}

.avatar_login
{
  width: 180px;
  height: auto;
  margin: 20px 0;
}
.form_log input
{
  opacity: 1;
  width: 100%;
}

.login_register p
{
  font-weight: bold;
  color:#fff;
}
.log_input{
  background: rgba(255, 255, 255, .7);
  padding: 15px;
  margin-top: 20px;
  width: 100%;
}

/*
* custom login page
*/

.border_log
{
  width: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  position: relative;
  background-image: url(../../public/img/login2.jpg);
  margin-bottom: 20px;
  box-shadow: 3px 3px #000, -1em 0 .4em #000;
}

.avatar_login
{
  width: 180px;
  height: auto;
  margin-top: 15px;
}

.rounded-circle
{
  background-color:#00000080;
  width: 20%;
  height: auto;
  padding-bottom: 18px;
  padding-top: 10px;
}
form input
{
  border: 1px solid #000;
}

.login_register p
{
  font-weight: bold;
  color:#fff;
  text-decoration: none;
}
.login_register p:hover
{
  color: #7FC9FFFF;
  background-color: #fff;
}
.login_register a 
{
  text-decoration: none;
}

/*
* custom Sign In page
*/
.block
{
  border: 3px solid red;
  background-image: url(../../public/img/signin.jpg);

  width: 100%;
  height: 800px;
}
.signIn_container
{
 background-image: no-repeat fixed;
}

.bord_sign_in
{
  width: 100%;
  border: 3px solid blue;
}

/*
* custom multiple-children page
*/

h1
{
  margin-top: 20px;
  text-decoration: underline;
  margin-bottom: 40px;
}
.logo_add_child
{
  width:30px;
  height: auto;
}
table
{
  width: 100%;
  height: auto;
}

table td, table th, table
{
  border: 2.5px solid #000;
}

#birth
{
  
  margin-bottom: 20px;
}
.pension_price_multiple
{
  margin-top: 80px;
  border: 3px solid #000;
}

.pension_price_multiple h3
{
  padding-top: 20px;
  text-decoration: underline;
}

.print_price_multiple
{
  padding-top: 30px;
  color: rgb(0,123,255);
  font-weight: bold;
  font-size: 3em;
}
.logo_add_command_multiple
{
  width: 80px;
  height: auto;
  padding-bottom: 20px;
}
.pension_price_multiple_italic
{
  font-style: italic;
  text-decoration: underline;
}
.container_two
{
  margin-bottom: 40px;
}

.reduction
{
  margin-top: 80px;
}
.reduction-content
{
  width: 100%;
  border: 3px solid grey;
}
.reduction-content p
{
  font-size: 0.7em;
  font-weight: bold;
  font-style: italic;
}
.btn_container
{
  width: 100%;
  display: flex;
  flex-direction: column;

}



@media only screen and (min-width: 769px)
{
  .container_two
  {
    display: flex;
    height: min-content;
  }
  .table-responsive-sm
  {
    width: 80%;
  }
  .pension_price_multiple
  {
    padding: 0;
    margin-top:22px;
    margin-bottom: 16px;
    width: 20%;
  }
  .btn-primary
  {
    position: absolute;
    left: 62%;
    top: 105%;
  }
}


@media only screen and (min-width: 1000px)
{
    
  .log_input{
    width: 60%;
    max-width: 600px;
  }

  .contact_form .main_flex{
    display: flex;
  }
  .contact_form .field_child{
    flex: none;
    width: 300px;
    margin-right: 25px;
  }
  .contact_form .field_option{
    width: 100%;
  }
  .contact_form .content_flex{
    display: flex;
    justify-content: space-around;
  }
  .field_option .main_option{
    position: relative;
    height: 100%;
  }
  .field_option .price{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }

}

